---
import Card from '@components/ui/Card.astro';
import { getCollection } from 'astro:content';
import imagetrain from '@assets/images/train_gui.png';

const projects = await getCollection('projects');
---

<section
	data-testid="projects"
	id="projects"
	class="mb-10 flex flex-col items-center justify-center md:mb-0 md:h-screen"
>
	<h2 class="font-monospace text-2xl text-orange lg:text-4xl">Projets</h2>
	<span class="mb-10 h-1 w-10 bg-orange"></span>
	<!-- Ajouter les projets un par un sans utiliser .map -->
	<div class="flex flex-col lg:flex-row gap-8">
		<Card
			title={projects[0].title}
			description={projects[0].description}
			tags={projects[0].tags}
			imageUrl={imagetrain}
		/>
		<Card
			title={projects[1].title}
			description={projects[1].description}
			tags={projects[1].tags}
			imageUrl={projects[1].imageUrl}
		/>
		<Card
			title={projects[2].title}
			description={projects[2].description}
			tags={projects[2].tags}
			imageUrl={projects[2].imageUrl}
		/>
</section>
