---
import Card from '@components/ui/Card.astro';
import { getCollection } from 'astro:content';
import imagetrain from '@assets/images/train_gui.png';
import imageSAE from '@assets/images/SAE3A.png';
import imageNDI from '@assets/images/NDI.png';

const projects = await getCollection('projects');
---

<section
	data-testid="projects"
	id="projects"
	class="mb-10 flex flex-col items-center justify-center"
>
	<h2 class="font-monospace text-2xl text-orange lg:text-4xl">Projets</h2>
	<span class="mb-10 h-1 w-10 bg-orange"></span>

	<!-- Grille stable avec gap fixe -->
	<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 max-w-6xl px-4">
		<Card
			title={projects[0].data.title}
			description={projects[0].data.description}
			tags={projects[0].data.tags}
			url={projects[0].data.url}
			imageUrl={imagetrain}
		/>
		<Card
			title={projects[1].data.title}
			description={projects[1].data.description}
			tags={projects[1].data.tags}
			url={projects[1].data.url}
			imageUrl={imageSAE}
		/>
		<Card
			title={projects[2].data.title}
		description={projects[2].data.description}
		tags={projects[2].data.tags}
		url={projects[2].data.url}
		imageUrl={imageNDI}
		/>
	</div>
</section>
