---

import Layout from '@layouts/Layout.astro';
import { getCollection } from 'astro:content';
import Card from '@components/ui/Card.astro';
import train from '@assets/images/train_gui.png';
import SAE from '@assets/images/SAE3A.png';

const projects = await getCollection('projects');

---

<Layout>
    <main>
        <section id="projects" class="py-10 bg-gray-50 dark:bg-gray-900">
            <div class="container mx-auto px-4">
                <h2 class="text-3xl font-bold text-orange-600 dark:text-orange-400 mb-8 text-center">Mes Projets</h2>
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
                    <Card
                        title={projects[0].data.title}
                        description={projects[0].data.description}
                        tags={projects[0].data.tags}
                        url={projects[0].data.url}
                        imageUrl={train}
                    />
                    <Card
                        title={projects[1].data.title}
                        description={projects[1].data.description}
                        tags={projects[1].data.tags}
                        url={projects[1].data.url}
                        imageUrl={SAE}
                    />
                    <Card
                        title={projects[2].data.title}
                        description={projects[2].data.description}
                        tags={projects[2].data.tags}
                        url={projects[2].data.url}
                        imageUrl={projects[2].data.imageUrl}
                    />
                </div>
            </div>
        </section>
    </main>
</Layout>
