---
import Layout from '@layouts/Layout.astro';
import { getCollection } from 'astro:content';
import Card from '@components/ui/Card.astro';
import train from '@assets/images/train_gui.png';
import SAE from '@assets/images/SAE3A.png';
import imageNDI from '@assets/images/NDI.png';
import imageStage from '@assets/images/stage.png';
import Contact from '@components/Contact.astro';
import BackToTop from '@components/ui/BackToTop.astro';

const projects = await getCollection('projects');
---

<Layout>
	<main>
		<section id="projects" class="py-12 bg-white dark:bg-gray-900">
			<div class="container mx-auto px-4 max-w-6xl">
				<h2 class="font-monospace text-3xl text-orange mb-6">Mes projets</h2>
				<hr class="border-orange-500 mb-10 w-20" />

				<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
					<Card
						title={projects[0].data.title}
						description={projects[0].data.description}
						tags={projects[0].data.tags}
						url={projects[0].data.url}
						imageUrl={train}
					/>
					<Card
						title={projects[1].data.title}
						description={projects[1].data.description}
						tags={projects[1].data.tags}
						url={projects[1].data.url}
						imageUrl={SAE}
					/>
					<Card
						title={projects[2].data.title}
						description={projects[2].data.description}
						tags={projects[2].data.tags}
						url={projects[2].data.url}
						imageUrl={imageNDI}
					/>
					<Card
					title={projects[3].data.title}
					description={projects[3].data.description}
					tags={projects[3].data.tags}
					url={projects[3].data.url}
					imageUrl={imageStage}
					/>

				</div>
			</div>
		</section>

		<Contact />
		<BackToTop />
	</main>
</Layout>
